:root {
  --cor-preta: #000000;
  --cor-amarelo-ouro: #ffb910;
  --cor-branca: #ffffff;
  --cor-azul-claro: #009ee0;
  --cor-azul-medio: #008cc7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background-color: var(--cor-branca);
  color: var(--cor-preta);
}

#topBar {
  background-color: transparent;
  color: var(--cor-branca);
  text-align: center;
  display: flex;
  justify-content: space-between;
}
#socialIcons i {
  display: inline-flex;
  padding: 10px;
  border-radius: 40%;
  margin-right: 10px;
  color: var(--cor-branca);
  font-size: 18px;
  transition: color 0.3s;
  background-color: var(--cor-azul-medio);
}

#socialIcons i:hover {
  color: var(--cor-amarelo-ouro);
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 60px;
}

#navBar nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

#navBar nav a {
  display: inline-flex;
  align-items: center;
  color: var(--cor-branca);
  font-weight: 600;
  transition: color 0.3s;
  text-decoration: none;
}

#navBar nav a i {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

#navBar nav a:hover {
  color: var(--cor-amarelo-ouro);
}

#yellowBtn {
  background-color: var(--cor-amarelo-ouro);
  box-shadow: 2px 4px #d69b0f;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

#yellowBtn:hover {
  background-color: #d69b0f;
  transform: scale(1.1);
}

#yellowBtn i {
  margin-right: 10px;
  font-size: 20px;
}

#topBar,
#navBar {
  padding: 0 10%;
  width: 100%;
  position: absolute;
  left: 0;
}

#topBar {
  top: 0;
  margin-top: 45px;
}

#navBar {
  margin-top: 70px;
  top: 60px;
}

#Banner1 {
  background-image: url("/imagens/banner1.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px;
  height: 120vh;
}

#Banner1 h1 {
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  margin-left: 42vh;
  margin-bottom: 16vw;
  max-width: 50%;
  color: var(--cor-branca);
}

#Banner1 h1 span {
  font-weight: 900;
}

#Section1 {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 10%;
  background-color: transparent;
  flex-wrap: wrap;
  margin-top: -27vh;
}

.ContentBox1 {
  background-color: var(--cor-amarelo-ouro);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 2px 4px #d69b0f;
  max-width: 280px;
  height: 100%;
}

.ContentBox1 img {
  width: 50px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.ContentBox1 h3 {
  margin-bottom: 10px;
  color: var(--cor-preta);
  font-weight: bold;
}

.ContentBox1 p {
  flex-grow: 1;
  font-size: 14px;
  margin-bottom: 15px;
}

.ContentBox1 .more {
  width: 20px;
  height: auto;
  position: relative;
}

.LearnMore {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: var(--cor-preta);
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.LearnMore img {
  transition: all 0.3s ease-in-out;
}
.LearnMore:hover {
  font-size: 16px;
  text-decoration: underline;
}

.LearnMore:hover .more {
  transform: scale(1.1);
}

#Section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  background-color: var(--cor-branca);
}

#ContentBox2 {
  max-width: 50%;
}

#ContentBox2 p {
  margin-bottom: 20px;
}
#ContentBox2 h2::before {
  content: "";
  display: block;
  width: 10vh;
  height: 8px;
  background-color: var(--cor-amarelo-ouro);
  border-radius: 4px;
  margin: 0 auto 10px;
  transform: translateX(-17.5vw);
}

#ContentBox2 h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
}

#ContentBox2 h2 strong {
  font-weight: 900;
}

#Section2 img {
  max-width: 650px;
  border-radius: 20px;
}

#Section3 {
  padding: 60px 10%;
  background-color: var(--cor-branca);
  text-align: center;
}

#Section3 h2::before {
  content: "";
  display: block;
  width: 10vh;
  height: 8px;
  background-color: var(--cor-azul-claro);
  border-radius: 4px;
  margin: 0 auto 10px;
}

#Section3 h2 {
  font-size: 32px;
  margin-bottom: 80px;
  font-weight: 400;
}

#Section3 h2 strong {
  font-weight: 900;
}

.planosContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.planoBox {
  position: relative;
  background-color: var(--cor-branca);
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  height: 550px;
  text-align: left;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.iconContainer {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.icon {
  width: 50px;
  height: auto;
}

.planoBox:hover {
  transform: translateY(-5px);
}

.planoBox h3 {
  font-size: 18px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 18px;
}

.planoBox.destaque h3 {
  margin-bottom: 10px;
}

.planoBox .preco {
  font-size: 22px;
  color: var(--cor-preta);
  margin-bottom: 15px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}

.planoBox .preco strong {
  font-size: 42px;
  color: var(--cor-preta);
  margin-bottom: 15px;
  font-weight: 900;
}

.planoBox ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  display: block;
}

.planoBox ul::before {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background-color: var(--cor-azul-claro);
  margin: 0 auto;
  margin-bottom: 10px;
}

.planoBox ul li {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.planoBox ul li:last-child {
  border-bottom: none;
}

.planoBox.destaque {
  background-color: var(--cor-preta);
  color: var(--cor-branca);
}

.planoBox.destaque p {
  color: var(--cor-branca);
  font-weight: 400;
}

.planoBox.destaque p strong {
  color: var(--cor-branca);
  font-weight: 900;
}

.planoBox.destaque ul::before {
  background-color: var(--cor-amarelo-ouro);
}

.planoBox.destaque ul li {
  color: #c7c7c7;
}

#fidelidade {
  color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.planoBox.destaque #yellowBtn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

.planoBox.destaque #yellowBtn:hover {
  transform: scale(1.1) translateX(-45%);
}

.planoBox #blueBtn {
  background-color: var(--cor-azul-claro);
  box-shadow: 2px 4px var(--cor-azul-medio);
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.planoBox #blueBtn:hover {
  transform: scale(1.1) translateX(-45%);
}

#Section4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  background-image: url("/imagens/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#mapaCobertura img {
  max-width: 400px;
  border-radius: 20px;
}

#ContentBox3 {
  max-width: 45%;
}

#ContentBox3 h2::before {
  content: "";
  display: block;
  width: 10vh;
  height: 8px;
  background-color: var(--cor-azul-claro);
  border-radius: 4px;
  margin: 0 auto 10px;
  transform: translateX(-15.5vw);
}

#ContentBox3 h2 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 400;
}

#ContentBox3 h2 strong {
  font-weight: 900;
}

#blueBtn {
  background-color: var(--cor-azul-claro);
  box-shadow: 2px 4px var(--cor-azul-medio);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

#blueBtn:hover {
  background-color: var(--cor-azul-medio);
  transform: scale(1.1);
}

#Section5 {
  background-color: var(--cor-branca);
  padding: 40px;
  display: flex;
  justify-content: center;
}

#contatoBar {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: var(--cor-azul-claro);
  color: var(--cor-branca);
  border-radius: 20px;
  width: 100%;
  gap: 20px;
}

.contatoItem {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  min-width: 220px;
  position: relative;
}

.contatoItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

#contatoBar i {
  color: var(--cor-azul-claro);
  background-color: var(--cor-branca);
  border-radius: 50%;
  display: inline-flex;
  padding: 12px;
  font-size: 20px;
}

.textos {
  white-space: normal;
  line-height: 1.3;
}

.textos span {
  font-weight: bold;
}

#Footer {
  background-color: var(--cor-azul-medio);
  color: var(--cor-branca);
  padding-top: 40px;
}

#FooterContent {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 30px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

#FooterContent img {
  width: 120px;
  margin-bottom: 20px;
}

.menuFooter h3 {
  margin-bottom: 15px;
}

.menuFooter ul {
  list-style: none;
}

.menuFooter ul li {
  margin-bottom: 10px;
}

.socialFooter i {
  display: inline-flex;
  padding: 10px;
  border-radius: 40%;
  margin-right: 10px;
  color: var(--cor-branca);
  font-size: 18px;
  transition: color 0.3s;
  background-color: var(--cor-azul-claro);
  margin-top: 20px;
}
#socialFooter i:hover {
  color: var(--cor-amarelo-ouro);
}

#copyright {
  background-color: var(--cor-azul-claro);
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

#copyright a {
  color: var(--cor-amarelo-ouro);
}

@media (max-width: 768px) {

  #navBar {
    flex-direction: column;
    align-items: center;
  }

  #Section1,
  #Section2,
  #Section3,
  #Section4,
  #Section5 {
    flex-direction: column;
    align-items: center;
    padding: 40px 5%;
  }

  .ContentBox1,
  #ContentBox2,
  #ContentBox3,
  .planoBox {
    max-width: 100%;
    text-align: center;
  }

  #yellowBtn,
  #blueBtn {
    width: auto;
    padding: 10px 15px;
    text-align: center;
  }

  #ContentBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ContentBox2 button {
    align-self: center;
  }

  #ContentBox3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ContentBox3 button {
    align-self: center;
  }

  #Section2 img,
  #mapaCobertura img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }

  #contatoBar {
    flex-direction: column;
    text-align: left;
  }

  .contatoItem {
    justify-content: flex-start;
    position: relative;
  }

  .contatoItem::after {
    display: none;
  }

  .planoBox {
    margin-top: 20px;
  }

  .menuFooter{
    margin-top: 40px;
  }
}

